services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: Test@1234
      POSTGRES_USER: roshan
      POSTGRES_DB: tempDB
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data:
